flows.json
[
    {
        "id": "6065f5d9.0fec9c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6944de5d.9cabe",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e5259c68.abab6",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "245aad34.bb1e02",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8931349.6d756",
        "type": "ibmiot",
        "name": "API key",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "e58ea951.827268",
        "type": "ui_tab",
        "name": "Home application",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "31f07018.4e20a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7fac4a20.b07774",
        "type": "ui_group",
        "name": "sensor",
        "tab": "e58ea951.827268",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "35b1bfe5.c778c",
        "type": "Db2",
        "hostname": "",
        "db": "",
        "port": "50000",
        "name": ""
    },
    {
        "id": "b1b11140.4e4ef",
        "type": "inject",
        "z": "6065f5d9.0fec9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "Helloeveryone",
        "payloadType": "str",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "f2f2649a.0d0d98"
            ]
        ]
    },
    {
        "id": "f2f2649a.0d0d98",
        "type": "debug",
        "z": "6065f5d9.0fec9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "387668cd.ea13a8",
        "type": "ibmiot in",
        "z": "6065f5d9.0fec9c",
        "authentication": "apiKey",
        "apiKey": "f8931349.6d756",
        "inputType": "cmd",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "6789",
        "applicationId": "",
        "deviceType": "Externship",
        "eventType": "+",
        "commandType": "cmd",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 70,
        "y": 280,
        "wires": [
            [
                "6a5e56e2.c3e838",
                "844a13ee.20def",
                "5ad947e6.2df0e8"
            ]
        ]
    },
    {
        "id": "844a13ee.20def",
        "type": "debug",
        "z": "6065f5d9.0fec9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 180,
        "wires": []
    },
    {
        "id": "6a5e56e2.c3e838",
        "type": "function",
        "z": "6065f5d9.0fec9c",
        "name": "temperature",
        "func": "msg.payload= msg.payload.d.temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "3e91bceb.c4bbd4"
            ]
        ]
    },
    {
        "id": "5ad947e6.2df0e8",
        "type": "function",
        "z": "6065f5d9.0fec9c",
        "name": "humidity",
        "func": "msg.payload = msg.payload.d.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "a4b8e156.72c84"
            ]
        ]
    },
    {
        "id": "3e91bceb.c4bbd4",
        "type": "ui_chart",
        "z": "6065f5d9.0fec9c",
        "name": "",
        "group": "7fac4a20.b07774",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "noise",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a4b8e156.72c84",
        "type": "ui_gauge",
        "z": "6065f5d9.0fec9c",
        "name": "",
        "group": "7fac4a20.b07774",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "355bee59.53c9e2",
        "type": "http in",
        "z": "6065f5d9.0fec9c",
        "name": "",
        "url": "/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "f8507483.a2f948"
            ]
        ]
    },
    {
        "id": "8e5c184d.4b9b78",
        "type": "http response",
        "z": "6065f5d9.0fec9c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "f8507483.a2f948",
        "type": "function",
        "z": "6065f5d9.0fec9c",
        "name": "",
        "func": "msg.payload = {\n        \"Temperature\" : global.get('t'),\n        \"humidity\" : global.get('h')\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "8e5c184d.4b9b78"
            ]
        ]
    },
    {
        "id": "76c5f34b.2708ec",
        "type": "inject",
        "z": "6065f5d9.0fec9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "36a2cec1.dec552",
        "type": "watson-assistant-v2",
        "z": "6944de5d.9cabe",
        "name": "",
        "service-endpoint": "https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/30000dfd-5fc5-41e7-8bac-cd9505cf8bf4",
        "assistant_id": "5d876ef6-7c16-4f70-a623-1969b9b55958",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": true,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "b4e9260a.9bcbc8"
            ]
        ]
    },
    {
        "id": "3bdbf25.378c30e",
        "type": "debug",
        "z": "6944de5d.9cabe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "1439258a.6927ba",
        "type": "watson-speech-to-text",
        "z": "e5259c68.abab6",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "nDADYYCM9rvDl11m7XTqR0LaKD3NGh_Sh_N3xCYbeFaO",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/96b64f99-b766-492a-8566-3ce531156d41",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "212ff87e.85b708"
            ]
        ]
    },
    {
        "id": "212ff87e.85b708",
        "type": "debug",
        "z": "e5259c68.abab6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "b4e9260a.9bcbc8",
        "type": "function",
        "z": "6944de5d.9cabe",
        "name": "",
        "func": "msg.payload = msg.payload.output.generic[0].text\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "3bdbf25.378c30e"
            ]
        ]
    },
    {
        "id": "145218f9.6f59c7",
        "type": "inject",
        "z": "6944de5d.9cabe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hii",
        "payloadType": "str",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "36a2cec1.dec552"
            ]
        ]
    },
    {
        "id": "91ffb4d2.055b48",
        "type": "microphone",
        "z": "e5259c68.abab6",
        "name": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "1439258a.6927ba"
            ]
        ]
    },
    {
        "id": "ca957df6.cbfb5",
        "type": "watson-text-to-speech",
        "z": "e5259c68.abab6",
        "name": "",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_MichaelVoice",
        "voicehidden": "en-US_MichaelVoice",
        "format": "audio/wav",
        "password": "",
        "apikey": "CnSH0_Ry0VCx7yeh0msxByS5D8A-fdaE5QhRbv_DxzUT",
        "payload-response": false,
        "service-endpoint": "https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/30000dfd-5fc5-41e7-8bac-cd9505cf8bf4",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "500adac5.8ea564"
            ]
        ]
    },
    {
        "id": "1262d7e9.48fe18",
        "type": "inject",
        "z": "e5259c68.abab6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hell all hou r u",
        "payloadType": "str",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "ca957df6.cbfb5"
            ]
        ]
    },
    {
        "id": "500adac5.8ea564",
        "type": "play audio",
        "z": "e5259c68.abab6",
        "name": "",
        "voice": "1",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "30b9c964.712e86",
        "type": "ibmiot in",
        "z": "245aad34.bb1e02",
        "authentication": "apiKey",
        "apiKey": "f8931349.6d756",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "6789",
        "applicationId": "",
        "deviceType": "Externship",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "d8e05a3a.067578"
            ]
        ]
    },
    {
        "id": "7c45b43a.ac3bac",
        "type": "debug",
        "z": "245aad34.bb1e02",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "d8e05a3a.067578",
        "type": "function",
        "z": "245aad34.bb1e02",
        "name": "noise detection",
        "func": "msg.payload=msg.payload.d.temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [
            [
                "7c45b43a.ac3bac",
                "4ac77ff6.6e13b"
            ]
        ]
    },
    {
        "id": "4ac77ff6.6e13b",
        "type": "ui_gauge",
        "z": "245aad34.bb1e02",
        "name": "",
        "group": "7fac4a20.b07774",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "noise detection",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "4e72a604.5a92e8",
        "type": "function",
        "z": "245aad34.bb1e02",
        "name": "",
        "func": "msg.payload={\n  \"noise detection\" :18 \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "c15101f1.72d01"
            ]
        ]
    },
    {
        "id": "77b9ab81.873a44",
        "type": "http in",
        "z": "245aad34.bb1e02",
        "name": "",
        "url": "/data2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "4e72a604.5a92e8"
            ]
        ]
    },
    {
        "id": "c15101f1.72d01",
        "type": "http response",
        "z": "245aad34.bb1e02",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "65078f79.d2b74",
        "type": "ibmiot out",
        "z": "245aad34.bb1e02",
        "authentication": "apiKey",
        "apiKey": "f8931349.6d756",
        "outputType": "cmd",
        "deviceId": "6789",
        "deviceType": "Externship",
        "eventCommandType": "cmd",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 900,
        "y": 660,
        "wires": []
    },
    {
        "id": "b383191a.4bcd18",
        "type": "inject",
        "z": "245aad34.bb1e02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\" :\"lighton\"}",
        "payloadType": "json",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "65078f79.d2b74"
            ]
        ]
    },
    {
        "id": "2d105e1f.e86162",
        "type": "ui_button",
        "z": "245aad34.bb1e02",
        "name": "",
        "group": "7fac4a20.b07774",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "light on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\" :\"light on\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 740,
        "wires": [
            [
                "65078f79.d2b74"
            ]
        ]
    },
    {
        "id": "7ed6c33e.30fd5c",
        "type": "ui_button",
        "z": "245aad34.bb1e02",
        "name": "",
        "group": "7fac4a20.b07774",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "light off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\" :\"light off\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 800,
        "wires": [
            [
                "65078f79.d2b74"
            ]
        ]
    },
    {
        "id": "c26ba69a.f1fcf8",
        "type": "http in",
        "z": "245aad34.bb1e02",
        "name": "",
        "url": "/command2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "e14981fa.10f0d",
                "a764dd08.e672a",
                "65078f79.d2b74"
            ]
        ]
    },
    {
        "id": "e14981fa.10f0d",
        "type": "http response",
        "z": "245aad34.bb1e02",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a764dd08.e672a",
        "type": "debug",
        "z": "245aad34.bb1e02",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1100,
        "wires": []
    }
]